---
// Redirect to docs.jamjet.dev
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=https://docs.jamjet.dev/getting-started" />
  <link rel="canonical" href="https://docs.jamjet.dev/getting-started" />
  <title>Redirecting to JamJet Docs</title>
</head>
<body>
  <p>Redirecting to <a href="https://docs.jamjet.dev/getting-started">docs.jamjet.dev</a>...</p>
</body>
</html>
